body {
    font-family: sans-serif;
    background-color: #3E2723;
}

.center {
    text-align: center;
}

.img-medium {
    /*width: 160px;
    height: 200px;*/
    width:15%;
    height:auto;
    position: absolute;
    /*top:280px;
    left:320px;*/
    top:45%;
    left:20%;
}

.profHead{
    font-family: 'Sansita', sans-serif;
    font-size: 300%;
    /*padding-top: 20px;*/
    padding-top:10%;
}

.profButton{
    /*font-size: 24px;*/
    font-size:120%;
    background: #4882B4;
    color: white;
    /*height: 48px;
    width: 96px;*/
    width:15%;
    height:15%;
    border-color: #424242;
    border-style: groove;
	text-align: center;
	font: sans-serif;
	/*border-radius: 15px;*/
	border-radius:20%;
}
.logoimage{
    /*width: 40px;
    height: 40px;*/
    width:5%;
    height:5%;
}

.section{
    background: #E0E0E0;
    margin-left:10%;
    margin-right:10%;
    position:relative;
    top:5%;
    left:0;
    right:0;
    bottom:15%;
}

.links{
    background-color:#9E9E9E;
    /*padding-bottom:20px;
    padding-top:20px;*/
    padding-bottom:5%;
    padding-top:5%;
}

