body {
    font-family: sans-serif;
    background-color: #3E2723;
}

.center {
    text-align: center;
}

.img-medium {
    width: 160px;
    height: 200px;
    float:left;
    position: absolute;
    top:220px;
    left:260px;
}

.profHead{
    font-family: 'Sansita', sans-serif;
    font-size: 300%;
    position:absolute;
    top:200px;
}

.profButton{
    font-size: 24px;
    background: #4882B4;
    color: white;
    height: 48px;
    width: 96px;
    border-color: #424242;
    border-style: groove;
	text-align: center;
	font: sans-serif;
	border-radius: 15px;
}
.logoimage{
    width: 40px;
    height: 40px;
}

.section{
    background: #E0E0E0;
    margin-left:100px;
    margin-right:100px;
}

.links{
    background-color:#9E9E9E;
    padding-bottom:60px;
    padding-top:60px;
}

